/.DS_Store
/Hero-ObjectiveC.xcodeproj/project.xcworkspace/xcuserdata/dezinezync.xcuserdatad/UserInterfaceState.xcuserstate
/Hero-ObjectiveC.xcodeproj/xcuserdata/dezinezync.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
